<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <title>{{site.name}}{% if page.title %} ● {{page.title}}{% endif %}</title>
    {% include meta.html %}
    {% include head.html %}
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% comment %} ----- CSS ----- {% endcomment %}
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/style.css" />
    {% if page.customCSS %}
      <link rel="stylesheet" type="text/css" href="{{page.customCSS}}" />
    {% endif %}
    <link rel="alternate" type="application/rss+xml" title="{{site.name}} - {{site.description}}" href="{{site.baseurl}}/feed.xml" />
    {% comment %} ----- JS ----- {% endcomment %}
    <script type="text/javascript">
      document.addEventListener("DOMContentLoaded", function() {
          for (var links = document.links, i = 0, a; a = links[i]; i++) {
              if (a.host !== location.host) {
                  a.target = '_blank';
              }
          }
      });
      document.documentElement.className += (("ontouchstart" in document.documentElement) ? ' touch' : ' no-touch');
    </script>
  </head>
  <body>
    {% comment %} ----- BETA RIBBON (deprecated?) ----- {% endcomment %}
    {% if page.beta %}
      <div class="ribbon-wrapper">
        <div class="ribbon">BETA</div>
      </div>
    {% endif %}
    {% comment %} ----- DEFINE SECTION ----- {% endcomment %}
    {% assign parts = page.url | split: "/" %}
    {% assign partsCount = parts | size %}
    {% assign section = "" %}
    {% case parts[1] %}
    {% when "documentation" %}
        {% if partsCount > 2 %}
          {% assign section = parts[1] | append: " " | append: parts[2]  %}
        {% else %}
          {% assign section = "documentation" %}
        {% endif %}
    {% endcase %}
    {% comment %} ----- DRAFT MODE & TO-DO's ----- {% endcomment %}
    {% if page.draft %}
      <div class="draft-bar">
        <div class="draft-wrapper">
          <div class="draft-title">
            Draft {% if page.draft-hidden %}(hidden){% endif %}
          </div>
          <a class="draft-source" href="{{site.gitlabrepo}}{{page.path}}">edit</a>
          {% if page.draft-todos %}
            <ul class="draft-todos">
              {% for todo in page.draft-todos %}
                <li>{{todo}}</li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      </div>
    {% endif %}
    {% comment %} ----- START PAGE WRAPPER ----- {% endcomment %}
    <div id="{{page.pageId}}" class="page-wrapper {{section}}">
      {% comment %} HEADER {% endcomment %}
      {% include header.html %}
      {% comment %} ----- START DOCUMENT ----- {% endcomment %}
      <div class="document">
        {% comment %} ----- MAIN CONTENT ----- {% endcomment %}
        <div id="main">
          <div id="entry-content" {% if page.cssclass %}class="{{page.cssclass}}"{% endif %}>
            {{content}}
          </div>
          <div class="modification-date">{% modification_date %}</div>
        </div>
        {% comment %} ----- SECONDARY CONTENT ----- {% endcomment %}
        <div id="secondaryCatchAll"></div>
        <div id="secondary">
          {% include navigation.html %}
        </div>
      {% comment %} ----- END DOCUMENT ----- {% endcomment %}
      </div>
      {% comment %} ----- FOOTER ----- {% endcomment %}
      {% include footer.html %}
    {% comment %} ----- END PAGE WRAPPER ----- {% endcomment %}
    </div>
    {% comment %} ----- ANALYTICS ----- {% endcomment %}
    {% include analytics.html %}
  </body>
</html>